{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/toggleTheme.js') }}"></script>
{% endblock %}

{% block home %}
	<a href="{{ path('app_home') }}" role="button" class="contrast outline">Home</a>
{% endblock %}

{% block body %}
	<h1><img src="/images/{{ random_image }}" onclick="toggleTheme()" alt="logo Multilingual Cooking Recipe Generator"/>
		Multilingual Cooking Recipe Generator</h1>
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		{# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> #}
		<label for="inputUsername">Username</label>
		<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
		<label for="inputPassword">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				        See https://symfony.com/doc/current/security/remember_me.html #}

		<button class="btn btn-lg btn-primary" type="submit">
			Sign in
		</button>

		<div>
			<a href="{{ path('app_registration') }}" class="secondary">Create an account</a>
		</div>


	</form>
{% endblock %}
{% block footer %}
	<div class="footer">
		<div>Copyright ©{{ "now"|date("Y") }}
			- Powered by
			<a href="https://openai.com" target="_blank">OpenAI</a>
			& Developed with ❤️ by
			<a href="https://moonbase.subscan.io/account/0xa28E71D169FdBe75063eec0A4012b2E654121319" target="_blank">T-Labs 🛸</a>
			- Icons by
			<a href="https://icons8.com/" target="_blank">icons8</a>.</div>
		<div>
			{% if app.request.cookies.get('theme') == 'light' %}
				<img class="toggleButton" src="/icons8-soleil-48.png" onclick="toggleTheme()" alt="Toggle button" style="cursor: pointer;">
			{% else %}
				<img class="toggleButton" src="/icons8-brouillard-de-nuit-48.png" onclick="toggleTheme()" alt="Toggle button" style="cursor: pointer;">
			{% endif %}
		</div>
	</div>
{% endblock %}
