{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/toggleTheme.js') }}"></script>
{% endblock %}

{% block home %}
	<a href="{{ path('app_home') }}" role="button">Home</a>
{% endblock %}

{% block body %}
	<h1><img src="/images/{{ random_image }}" onclick="toggleTheme()" alt="logo Multilingual Cooking Recipe Generator"/>
		Multilingual Cooking Recipe Generator</h1>
	<form method="post">

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		{% if not app.user %}
			<div class="form-group">
				<label for="inputUsername">Username</label>
				<input type="text" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="new-password" required>
			</div>
			<div class="form-group">
				<label for="inputPasswordConfirm">Confirm Password</label>
				<input type="password" name="password_confirm" id="inputPasswordConfirm" class="form-control" autocomplete="new-password" required>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="checkbox mb-3"></div>
			<button class="btn btn-lg btn-primary" type="submit" name="action" value="register">
				Register
			</button>
		{% endif %}

		{% if app.user %}
			<button class="btn btn-lg btn-primary" type="submit" name="action" value="logout">
				Logout
			</button>
		{% endif %}


	</form>
{% endblock %}
{% block footer %}
	<div class="footer">
		<div>Copyright ©{{ "now"|date("Y") }}
			- Powered by
			<a href="https://openai.com" target="_blank">OpenAI</a>
			& Developed with ❤️ by
			<a href="https://moonbase.subscan.io/account/0xa28E71D169FdBe75063eec0A4012b2E654121319" target="_blank">T-Labs 🛸</a>
			- Icons by
			<a href="https://icons8.com/" target="_blank">icons8</a>.</div>
		<div>
			{% if app.request.cookies.get('theme') == 'dark' %}
				<img class="toggleButton" src="/icons8-soleil-48.png" onclick="toggleTheme()" alt="Toggle button" style="cursor: pointer;">
			{% else %}
				<img class="toggleButton" src="/icons8-brouillard-de-nuit-48.png" onclick="toggleTheme()" alt="Toggle button" style="cursor: pointer;">
			{% endif %}
		</div>
	</div>
{% endblock %}
