{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<script>
		function toggleTheme() {
const theme = document.documentElement.getAttribute("data-theme");
if (theme === "dark") {
document.documentElement.setAttribute("data-theme", "light");
} else {
document.documentElement.setAttribute("data-theme", "dark");
}
}
	</script>
{% endblock %}

{% block logout %}
	<button>
		<a href="{{ path('app_logout') }}" role="button">Logout</a>
	</button>
{% endblock %}

{% block body %}
	<h4><img src="/images/{{ random_image }}" onclick="toggleTheme()" alt="logo Multilingual Cooking Recipe Generator"/>
		Multilingual Cooking Recipe Generator

		<p>Welcome,
			{{ user.username }}!</p>
	</h4>
{% endblock %}

{% block content %}
	<h1>Ingredients</h1>
	<ul>
		{% for ingredient in ingredients %}
			<li>{{ Ingredients.ingredients }}</li>
		{% endfor %}
	</ul>

	<h1>Recipes</h1>
	<ul>
		{% for recipe in recipes %}
			<li>{{ recipe.recipe }}</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block footer %}
	<p>Copyright ©{{ "now"|date("Y") }}
		- Powered by
		<a href="https://openai.com" target="_blank">OpenAI</a>
		& Developed with ❤️ by
		<a href="https://moonbase.subscan.io/account/0xa28E71D169FdBe75063eec0A4012b2E654121319" target="_blank">T-Labs 🛸</a>
		- Icons by
		<a href="https://icons8.com/" target="_blank">icons8</a>.</p>
{% endblock %}
