{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/toggleTheme.js') }}"></script>
{% endblock %}

{% block logout %}
	{% if is_granted('ROLE_USER') %}
		<a role="button" class="secondary outline">Welcome
			{{ user.username }}!</a>
		<a href="{{ path('app_home') }}" role="button" class="contrast outline">Home</a>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('app_admin') }}" role="button" class="contrast outline">Admin</a>
		{% endif %}
		<a href="{{ path('app_logout') }}" role="button">Logout</a>
	{% endif %}
{% endblock %}

{% block body %}
	<h4><img src="/images/{{ random_image }}" onclick="toggleTheme()" alt="logo Multilingual Cooking Recipe Generator"/>
		Multilingual Cooking Recipe Generator
	</h4>
{% endblock %}

{% block content %}
	<h1>Recipes</h1>
	<ul>
		{% for chatLog in chatLogs %}
			<blockquote>
				<hgroup>
					<h4>
						<kbd>
							{{ chatLog.question|raw }}
						</kbd>
					</h4>
				</hgroup>
				<div class="code-block">
					<pre><code>{{ chatLog.answer|raw }}</code></pre>
				</div>
			</blockquote>
		{% else %}
			<blockquote>
				<code>
					<li>
						<em>no recipe found</em>
					</li>
				</code>
			</blockquote>
		</li>
	{% endfor %}
</ul>{% endblock %}{% block footer %}
<div class="footer">
	<div>Copyright ©{{ "now"|date("Y") }}
		- Powered by
		<a href="https://openai.com" target="_blank">OpenAI</a>
		& Developed with ❤️ by
		<a href="https://moonbase.subscan.io/account/0xa28E71D169FdBe75063eec0A4012b2E654121319" target="_blank">T-Labs 🛸</a>
		- Icons by
		<a href="https://icons8.com/" target="_blank">icons8</a>.</div>
	<div>
		{% if app.request.cookies.get('theme') == 'light' %}
			<img class="toggleButton" src="/icons8-soleil-48.png" onclick="toggleTheme()" alt="Toggle button" style="cursor: pointer;">
		{% else %}
			<img class="toggleButton" src="/icons8-brouillard-de-nuit-48.png" onclick="toggleTheme()" alt="Toggle button" style="cursor: pointer;">
		{% endif %}
	</div>
</div>{% endblock %}
